html
  head
    title= document
    script(src='../js/index.js' type='text/javascript')
  body
    input(type='text' id='msg-input')
    input(type='button' id='btnSend' onclick='sendMesageInTextBox()' value='send')
